<div id="center_footer">
  <div class="container">
    <div id="left_footer"><b>Find Us At</b>
      <p>MB Southeast, <br />
       LLC    JLangley@MBSoutheast.com <br />
        Phone: 704-506-8148 </p>
    </div>
    <div id="right_footer">
      <a href="#!/">Home</a>
          <a href="#!/aboutus">About</a>
          <a href="#!/services">Services</a>
          <a href="#!/greentech">Green Tech</a>
          <a href="#!/contact">Contact</a>
    </div>
    <span>&copy MB Southeast 2014</span>
  </div>
</div>